#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.smileyFace {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  animation: logo-spin 20s linear infinite;
}

.upsideDownSmileyFace {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  animation: logo-spin 10s linear infinite;
}
.smileyFace:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
  animation: logo-spin 1s linear infinite;
}
.upsideDownSmileyFace:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
  animation: logo-spin 1s linear infinite;
}

.rickRollButton {
  font-size: 1em;
  padding: 1em;
  background-color: #646cffaa;
  color: white;
  position: absolute;
  transition: top 0.5s ease, left 0.5s ease, transform 0.2s ease; /* smooth movement */
}

.rickRollButton:hover {
  box-shadow: 0 0 5em #61dafbaa;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* @media (prefers-reduced-motion: no-preference) {
 .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

.cookie {
  padding: 2em;
}
.cookie:hover {
  filter: drop-shadow(0 0 2em #ffb400aa);
}

.read-the-docs {
  color: #888;
}
