/* styles for entire app. Sets the defaults*/

#root {
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  max-width: 100%;
}

