nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
    /* z-index is like the "layer" */
    font-family:'Times New Roman', Times, serif;
    background-color: #3c3a54;
    border-color:azure;
    color: white;
    min-height:10%;
    height: auto;
}

#name{
    margin-left: 5vw;
    font-size: 2em;
}

#navButtons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5vw;
    color: azure;
}

#navButtons li{
  list-style: none;
  padding: 0 0.5em;
  position: relative;
  font-size: 1.8em;
  font-weight: 300;
}

#navButtons a{
    color: azure;
    text-decoration: none;
    transition: background 0.2s;
}

#navButtons a:hover {
    background-color: #23213a;
    border-radius: 6px;
    height: 100%; /* Make the hover effect cover the entire height of the nav bar */
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-2px);
}

#navButtons a.active {
    border-bottom: 2px solid azure;
    padding-bottom: 0.25em;
}
