nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
    /* z-index is like the "layer" */
    font-family:'Times New Roman', Times, serif;
    background-color: #3c3a54;
    border-color:azure;
    color: azure;
}

#name{
    margin-left: 5vw;
    font-size: 2em;
}

#navButtons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5vw;
    color: azure;
}

#navButtons li{
  list-style: none;
  padding: 0 0.5em;
  position: relative;
  font-size: 1.8em;
  font-weight: 300;
}

#navButtons a{
    color: azure;
    text-decoration: none;
}
